@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-primary: #2E3349;
    --text-secondary: #6B7082;
    --bg-main: #19A1AE;
    --bg-card: #ffffff;
}


body {
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--text-primary);
    background: url('./images/bg-pattern-top.svg') no-repeat left -700px top -650px, url('./images/bg-pattern-bottom.svg') no-repeat right -700px bottom -600px, var(--bg-main);
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile-card {
    width: 326px;
    max-height: 374px;
    background: url('./images/bg-pattern-card.svg') no-repeat top center/100% 40%, #ffffff;
    border-radius: 10px;

}

.user-content {
    margin: auto;
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: solid rgba(151, 151, 151, 0.1) 2px;
    margin-top: 6.5rem;
}

.user-content img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: solid #ffffff 5px;
    margin: auto;
    margin-bottom: .5rem;
}

.name-age {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-age h1 {
    font-size: 1rem;
    margin-right: .4rem;
}

.name-age p {
    color: var(--text-secondary);
}

#city {
    color: var(--text-secondary);
    font-size: .9rem;
    margin-top: .5rem;
}

.user-stats {
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.stat-bubble {
    padding: 1.5rem;
}

.stat-bubble h2 {
    font-size: 1rem;
}

.stat-bubble p {
    font-size: .7rem;
}


@media (min-width: 768px) and (max-width: 900px) {
    body {
        background: url('./images/bg-pattern-top.svg') no-repeat left -500px top -500px, url('./images/bg-pattern-bottom.svg') no-repeat right -600px bottom -400px, var(--bg-main);
    }
}

@media (min-width: 912px) and (max-width: 1024px) {
    body {
        background: url('./images/bg-pattern-top.svg') no-repeat left -400px top -400px, url('./images/bg-pattern-bottom.svg') no-repeat right -500px bottom -300px, var(--bg-main);
    }
}

@media (min-width: 1440px) {
    body {
        background: url('./images/bg-pattern-top.svg') no-repeat left -100px top -400px, url('./images/bg-pattern-bottom.svg') no-repeat right -100px bottom -500px, var(--bg-main);
    }
}